Voting

<ul class="image-list jscroll">
<% @likes.each do |like| %>
<% post = Post.find_by(id: like.post_id) %>
<div class="image fadeUpTrigger">
  <%= link_to (image_tag "#{post.image.url}" , class:"index-sized", method: :get), post_path(post.id) %>
</div>
<% end %>
<%= paginate @posts %>
</ul>
