<div class="maintop">
  <div class="maintop-message">
    <h1>Don't LooK at Your × 8 Phone ALL THE TIME!!</h1>
    </div>
    <div class="votes">
    <p>TOTAL NUMBER OF VOTES >>> 10XXX</p>
    </div>
</div>
