// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.btn {
  padding: 8px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: #ffefd5;
  cursor: pointer;
  box-shadow: 0 7px #ffdab9;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.sized {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.index-sized {
  height:370px;
  width:260px
}




.image {
	overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
	width: 260px;	/*画像の幅*/
	height: 370px;	/*画像の高さ*/
  float:left;
  padding: 1px 1px;
}
.image img {
	display: block;
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
.image img:hover {
	transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
  opacity: 0.8;
}

ul.image-list {
  padding: 0;
}

nav.pagination {
  display: none;
}
